@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BTL.Models.KhachHang

@{
    ViewData["Title"] = "ChiTietKH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Khách Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            Ngày sinh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            Số Điện Thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            Địa Chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameNavigation.UserName)
        </dd>*@
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="SuaKH" asp-route-MaKhachHang="@Model?.MaKhachHang">Sửa</a>
    <a class="btnav btn-info" asp-action="DanhMucKH">Quay lại</a>
</div>
