@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using BTL.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<UserLogin>
@{
    ViewData["Title"] = "DanhMucTKKH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <ul class="navbar-nav mr-lg-2 col-lg-8 m-3">
        <li class="nav-item nav-search d-none d-lg-block ">
            <div class="input-group">
                <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
            </div>
        </li>
    </ul>
   @* <div class="col-lg-3">
        <p>
            <a class="btn btn-success mt-3" asp-area="Admin" asp-controller="HomeAdmin" asp-action="ThemTK">Tạo Mới</a>
        </p>

    </div>*@
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                UserName
                            </th>
                            <th>
                                PassWord
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                UserRole
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="records_table">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                @if (@item.UserRole == 1)
                                {
                                    <td>
                                        Khách Hàng
                                    </td>
                                }


                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.PagedListPager(Model,page => Url.Action("DanhMucTKKH", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
})

@section Script{
    <script>
        $(document).ready(function () {
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: 'https://localhost:7229/Admin/TimKiem/FindUserKH/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $('#records_table').html("");
                        $('#records_table').html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            //
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: 'https://localhost:7229/Admin/TimKiem/FindUserKHEmail/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $('#records_table').html("");
                        $('#records_table').html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });

    </script>
}
